<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<!--    v11-v-model结合radio.html-->
    <label for="male">
        <input type="radio" id="male" value="男" v-model="sex">男
    </label>
    <label for="female">
        <input type="radio" id="female" value="女" v-model="sex">女
    </label>
    <h3>{{sex}}</h3>


<!--    v11-v-model结合  checkbox 单选框 -->
    <lable for="agree">
    <input type="checkbox" id="agree" v-model="isAgree"> 同意协议
    </lable>
    <h2>您的爱好是: {{isAgree}}</h2>
    <button :disabled="!isAgree">下一步</button>

    <!--2.checkbox多选框-->
<!--    <input type="checkbox" value="篮球" v-model="hobbies">篮球-->
<!--    <input type="checkbox" value="足球" v-model="hobbies">足球-->
<!--    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球-->
<!--    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球-->
<!--    <h2>您的爱好是: {{hobbies}}</h2>-->

    <label v-for="item in originHobbies" :for="item">
        <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
    </label>
    <h2>您的爱好是: {{hobbies}}</h2>

    <!--1.选择一个-->
    <select name="abc" v-model="fruit">
        <option value="苹果">苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="榴莲">榴莲</option>
        <option value="葡萄">葡萄</option>
    </select>
    <h2>您选择的水果是: {{fruit}}</h2>

    <!--2.选择多个 ctrl+  -->
    <select name="abc" v-model="fruits" multiple>
        <option value="苹果">苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="榴莲">榴莲</option>
        <option value="葡萄">葡萄</option>
    </select>
    <h2>您选择的水果是: {{fruits}}</h2>


    <!--1.修饰符: lazy 失去焦点回车确定后绑定-->
    <input type="text" v-model.lazy="message">
    <h2>{{message}}</h2>

    <!--2.修饰符: number 数字类型-->
    <input type="number" v-model.number="age">
    <h2>{{age}}-{{typeof age}}</h2>

    <!--3.修饰符: trim : 去除前后的空格-->
    <input type="text" v-model.trim="name">
    <h2>您输入的名字:{{name}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            message:"hello",
            sex:'男',
            isAgree:false,  // 单选框
            hobbies: [], // 多选框,
            originHobbies: ['篮球', '足球', '乒乓球', '羽毛球', '台球', '高尔夫球'],
            fruit: '香蕉',
            fruits: [],

            age: 0,
            name: ''
        },
        methods:{
            valueChange(event){
                this.message = event.target.value;
            }
        }
    })

    var age = 0
    age = '1111'
    age = '222'
</script>
</body>
</html>